[workspace]
name = "slam_bench"
channels = [
    "robostack-jazzy",
    "conda-forge",
    "nvidia",
    "pytorch",
    "https://prefix.dev/robostack-jazzy",
    "https://prefix.dev/conda-forge",
]
platforms = ["linux-64"]

# ============================================
# Default for all environments
# ============================================
[dependencies]
# Build tools
cmake = "*"
ninja = "*"
make = "*"
pkg-config = "*"
compilers = "*"
pytest = "*"

[tasks]
build = "colcon build --symlink-install"
clean = "rm -rf build install log"
test = { cmd = "colcon test", description = "Run tests for the workspace" }

# ============================================
# Feature: ROS2 (Isolated)
# ============================================
[feature.ros2.dependencies]
# ROS2 packages
ros-jazzy-desktop-full = "*"
ros-jazzy-rmw-cyclonedds-cpp = "*"
ros-jazzy-ros-gz = "*"
ros-jazzy-rviz2 = "*"
ros-jazzy-rqt-common-plugins = "*"
ros-jazzy-ros-base = "*"
ros-jazzy-ros2cli = "*"

# Build tools for Python packages
colcon-common-extensions = "*"
setuptools = "==68.1.2"

# Build tools for C++ packages
ros-jazzy-ament-cmake-auto = "*"

# Workspace dependencies
ros-jazzy-ament-cmake = "*"
ros-jazzy-ament-cmake-copyright = "*"
ros-jazzy-ament-cmake-cppcheck = "*"
ros-jazzy-ament-cmake-lint-cmake = "*"
ros-jazzy-ament-cmake-pep257 = "*"
ros-jazzy-ament-cmake-uncrustify = "*"
ros-jazzy-ament-cmake-xmllint = "*"
ros-jazzy-ament-copyright = "*"
ros-jazzy-ament-flake8 = "*"
ros-jazzy-ament-lint-auto = "*"
ros-jazzy-ament-pep257 = "*"
ros-jazzy-backward-ros = "*"
ros-jazzy-builtin-interfaces = "*"
ros-jazzy-compressed-depth-image-transport = "*"
ros-jazzy-compressed-image-transport = "*"
ros-jazzy-cv-bridge = "*"
ros-jazzy-diagnostic-msgs = "*"
ros-jazzy-diagnostic-updater = "*"
ros-jazzy-geographic-msgs = "*"
ros-jazzy-geometry-msgs = "*"
ros-jazzy-image-transport = "*"
ros-jazzy-image-transport-plugins = "*"
ros-jazzy-launch-ros = "*"
ros-jazzy-nav-msgs = "*"
ros-jazzy-nmea-msgs = "*"
ros-jazzy-rclcpp = "*"
ros-jazzy-rclcpp-components = "*"
ros-jazzy-rclpy = "*"
ros-jazzy-rcutils = "*"
ros-jazzy-robot-localization = "*"
ros-jazzy-rosgraph-msgs = "*"
ros-jazzy-rosidl-default-generators = "*"
ros-jazzy-rosidl-default-runtime = "*"
ros-jazzy-sensor-msgs = "*"
ros-jazzy-shape-msgs = "*"
ros-jazzy-std-msgs = "*"
ros-jazzy-std-srvs = "*"
ros-jazzy-stereo-msgs = "*"
ros-jazzy-tf2 = "*"
ros-jazzy-tf2-geometry-msgs = "*"
ros-jazzy-tf2-ros = "*"
ros-jazzy-theora-image-transport = "*"
ros-jazzy-visualization-msgs = "*"
ros-jazzy-xacro = "*"
evo = ">=1.34.2,<2"

[feature.ros2.activation]
scripts = ["ros2_ws/install/setup.sh"]

[feature.ros2.activation.env]
# CycloneDDS
RMW_IMPLEMENTATION = "rmw_cyclonedds_cpp"
ROS_DOMAIN_ID = "6"
# Bridge ZED SDK (System) to Pixi
CMAKE_PREFIX_PATH = "/usr/local/zed:$CMAKE_PREFIX_PATH"
LD_LIBRARY_PATH = "/usr/local/zed/lib:$LD_LIBRARY_PATH"

# ============================================
# Feature: Workstation for Post-Processing
# ============================================
[feature.workstation.dependencies]
# # Pytorch dependencies
# pytorch = { version = "2.4.*", channel = "pytorch" }
# pytorch-cuda = { version = "12.8.*", channel = "pytorch" }


# NVIDIA dependencies
cuda-toolkit = "12.8.*"
[pypi-dependencies]
tensorrt-cu12 = ">10.11"
torch = { version = "*", index = "https://download.pytorch.org/whl/cu128" }
torchvision = { version = "*", index = "https://download.pytorch.org/whl/cu128" }
# ============================================
# Feature: Depth Anything 3
# ============================================
[feature.da3.dependencies]
numpy = "<2"
opencv = "*"
faiss-gpu = "*"
python = "3.11.*"
pandas = "*"
prettytable = "*"
numba = "*"
evo = "*"
pillow = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
typer = "*"
moviepy = "*"
pycolmap = "*"
huggingface_hub = "*"
einops = "*"
eigen = "*"
safetensors = "*"
trimesh = "*"
imageio = "*"
omegaconf = "*"
# libopenblas = { version = ">=0.3.31,<0.4", channel = "conda-forge" }
# libblas = { version = "*", build = "*openblas", channel = "conda-forge" }
# libcblas = { version = "*", build = "*openblas", channel = "conda-forge" }

[feature.da3.pypi-dependencies]
pypose = "*"
depth-anything-3 = { path = "./Depth-Anything-3", editable = true }
gsplat = "==1.5.3"
e3nn = "*"
plyfile = "*"
pillow-heif = "*"
xformers = "*"
open3d = "*"

[feature.da3.tasks]

# ============================================
# ENVIRONMENTS
# ============================================
[environments]
# Workstation mode: "pixi shell -e workstation"
ros2 = ["default", "ros2"]
workstation = ["default", "ros2", "workstation"]
da3 = ["da3", "workstation"]
